#resume{
	padding: 80px;
	background-color: #1abc9c;
	margin: 0;
	text-align: center;
}

nav{
	padding: 6px 20px;
	background-color: #333;
	overflow: hidden;
}

nav *{
	text-decoration: none;
	padding: 6px 20px;
	color: white;
}

#menu_right{
	float: right;
}

.menu_left{
	float: left;
}

nav a:hover{
	background-color: #DDD;
	color: black;
}

#table_point {
  border-collapse: collapse;
  width: 60%;
}

#table_point td, #table_point th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_point tr:nth-child(even){background-color: #f2f2f2;}

#table_point tr:hover {background-color: #ddd;}

#table_point th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#information{
	background-color: #f1f1f1;
}


#information{
	flex: 30%;
}

#course{
	flex: 70%;
	padding: 10px;
}

#flex_1{
	display: flex;
}

footer *{
	margin: 0;
	color: white;

}

footer{
	padding: 6px;
	text-align: center;
	background-color: black;
}

.course_item{
	text-align: center;
	flex: 33%;
}

.course_jpg{
	width: 90%;
}

#course_container{
	display: flex;
	flex-wrap: wrap;
}

#course_container *:hover{
	background-color: gray;
}
.course_description, .course_title{
	margin: 0px;
	padding: 0px;
}
.course_title{
	padding: 10px 0px 10px 0px;
}

.course_description{
	padding: 0px 0px 10px 0px;
}
@media(max-width:  800px){
	#information{
		flex: 100%;
	}

	#course{
		flex: 100%;
	}

	#flex_1{
		flex-wrap: wrap;
	}

	.course_item{
		width: 50%;
	}

	.course_item{
	text-align: center;
	flex: 50%;
}
	
}


	




